<h2>Validaciones</h2>

<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field>
      <input matInput maxlength="5" placeholder="Limite de caracteres (5)">
    </mat-form-field>

    <mat-form-field>
      <input matInput [formControl]="email" placeholder="Valida Correo">
    </mat-form-field>

    <app-input-rut [rut]="rut" (state)="test = $event"></app-input-rut>
    <mat-hint>Estado del input RUT: {{test}}</mat-hint>
  </mat-card-content>

  <mat-card-content>
    <mat-form-field>
      <mat-select placeholder="Select" [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
      <mat-hint>{{selectedValue}}</mat-hint>
    </mat-form-field>
  </mat-card-content>
</mat-card>



